# Создание базы данных с помощью SQL. В облаке IBM и в таблицах ехсель по шагам.
1)	Наша задача – создать реляционную базу данных на примере небольшого городка, где немного транспорта.
2)	Моя конкретная цель использования этой БД – хочу знать где и когда и какой находится транспорт, кто на смене и какие-то банальные вещи. Не буду считать амортизацию и тп=)) и мой автобус никогда не ломается)))

In [1]:
# импортируем расширения для работы с базой данных и подключимся к серверу
%load_ext sql
import ibm_db
%sql ibm_db_sa://zll40028:ddf0A3z05tbS4duC@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB?security=SSL

### Для себя вижу несколько вариантов создания БД:
•	сразу в эксель или блокнот, дальше загружать в облако для работы с БД

•	сразу в облаке с помощью SQL и при необходимости выгружать таблицы для создания резервных копий

**Тем не менее, первое, что мне необходимо – расписать какие данные у меня могут присутствовать для конкретных целей использования**

## Транспорт в небольшом городке будет иметь следующие характеристики:

•	тип (автобус, микроавтобус)

•	первичным ключом будет являться гаражный номер транспортного средства, так как он уникален

•	год выпуска транспортного средства

•	дата тех осмотра

•	количество посадочных мест

•	Номер транспортного средства – так же будет уникален


***не буду погружаться в расход топлива, километраж и амортизацию=)***

### Создаем таблицу
***синтаксис выглядит следующим образом:***

CREATE TABLE table_name (

    col1 datatype optional keyword, 

    col2 datatype optional keyword,

    col3datatype optional keyword,

    ...,
    
    coln datatype optional keyword)

In [2]:

%%sql 
CREATE TABLE ТРАНСПОРТ(
	НОМЕР_ТРАНСПОРТНОГО_СРЕДСТВА VARCHAR (10) NOT NULL, 
	ГАРАЖНЫЙ_НОМЕР VARCHAR(10)PRIMARY KEY NOT NULL,
	ТИП_ТРАНСПОРТА VARCHAR(50)NOT NULL,
	ГОД_ВЫПУСКА_ТРАНСПОРТА DATE NOT NULL,
	ДАТА_ТЕХОСМОТРА DATE NOT NULL,
	КОЛИЧЕСТВО_ПОСАДОЧНЫХ_МЕСТ INT NOT NULL,
	НОМЕР_МАРШРУТА VARCHAR(10) NOT NULL,
	НОМЕР_ДЕПО VARCHAR(10) NOT NULL)

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[]

### Заполняем таблицу данными
***синтаксис выглядит следующим образом:***

INSERT INTO table_name

(column1,column2,column3...)

VALUES(value1,value2,value3...);

In [3]:
%%sql 
INSERT INTO ТРАНСПОРТ(
    НОМЕР_ТРАНСПОРТНОГО_СРЕДСТВА, 
    ГАРАЖНЫЙ_НОМЕР, 
    ТИП_ТРАНСПОРТА, 
    ГОД_ВЫПУСКА_ТРАНСПОРТА, 
    ДАТА_ТЕХОСМОТРА, 
    КОЛИЧЕСТВО_ПОСАДОЧНЫХ_МЕСТ, 
    НОМЕР_МАРШРУТА, 
    НОМЕР_ДЕПО) 
VALUES 
('34A356', '11','АВТОБУС', '2015-10-20', '2022-12-05', 40, 6,'45А'),
('36B134', '12','МИКРОАВТОБУС', '2018-05-12', '2021-10-01', 20, 3,'56В'),
('32C327', '14','МИКРОАВТОБУС', '2019-08-17', '2020-11-12', 20, 4,'45А')

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
3 rows affected.

[]

## Просмотрим таблицу

In [4]:
%%sql
SELECT * FROM ТРАНСПОРТ

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('34A356', '11', 'АВТОБУС', datetime.date(2015, 10, 20), datetime.date(2022, 12, 5), 40, '6', '45А'),
 ('36B134', '12', 'МИКРОАВТОБУС', datetime.date(2018, 5, 12), datetime.date(2021, 10, 1), 20, '3', '56В'),
 ('32C327', '14', 'МИКРОАВТОБУС', datetime.date(2019, 8, 17), datetime.date(2020, 11, 12), 20, '4', '45А')]

Просмотрим уникальные значения какой то ячейки, например тип_транспорта

In [5]:
%sql SELECT DISTINCT ТИП_ТРАНСПОРТА FROM ТРАНСПОРТ

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('АВТОБУС',), ('МИКРОАВТОБУС',)]

## Заполним остальные таблицы

In [6]:
%%sql
CREATE TABLE СОТРУДНИКИ (
    ТАБЕЛЬНЫЙ_НОМЕР VARCHAR(10)PRIMARY KEY NOT NULL,
    ИМЯ VARCHAR(50)NOT NULL,
    ОТЧЕСТВО VARCHAR(50) NOT NULL,
    ФАМИЛИЯ VARCHAR(50) NOT NULL,
    ДОЛЖНОСТЬ VARCHAR(50) NOT NULL,
	СТАЖ_РАБОТЫ INT NOT NULL,
	ДАТА_ПРИЕМА_НА_РАБОТУ DATE NOT NULL,
	ПОЛ VARCHAR(10) NOT NULL,
	ДАТА_РОЖДЕНИЯ DATE NOT NULL
)

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[]

In [7]:
%%sql
INSERT INTO СОТРУДНИКИ (
	ТАБЕЛЬНЫЙ_НОМЕР,
	ИМЯ,
	ОТЧЕСТВО,
	ФАМИЛИЯ,
	ДОЛЖНОСТЬ,
	СТАЖ_РАБОТЫ,
	ДАТА_ПРИЕМА_НА_РАБОТУ,
	ПОЛ,
	ДАТА_РОЖДЕНИЯ)
VALUES
	(123,'ПЕТР','ПЕТРОВИЧ','ПЕТРОВ','ВОДИТЕЛЬ',12,'2019-08-17','М','1985-05-13'),
	(124,'ВАЛЕРИЙ','ВАЛЕРЬЕВИЧ','ВАЛЕРЬЕВ','ВОДИТЕЛЬ',14,'2018-08-15','М','1983-02-11'),
	(121,'МАРИЯ','ФЕДОРОВНА','ИВАНОВА','КОНДУКТОР',10,'2019-09-17','Ж','1973-01-15'),
	(126,'СЕРАФИМА','ИВАНОВНА','КУКОЛКИНА','КОНДУКТОР',8,'2020-03-04','Ж','1970-09-05');

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
4 rows affected.

[]

## Проверим таблицу СОТРУДНИКИ

In [8]:
%sql SELECT * FROM СОТРУДНИКИ

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('123', 'ПЕТР', 'ПЕТРОВИЧ', 'ПЕТРОВ', 'ВОДИТЕЛЬ', 12, datetime.date(2019, 8, 17), 'М', datetime.date(1985, 5, 13)),
 ('124', 'ВАЛЕРИЙ', 'ВАЛЕРЬЕВИЧ', 'ВАЛЕРЬЕВ', 'ВОДИТЕЛЬ', 14, datetime.date(2018, 8, 15), 'М', datetime.date(1983, 2, 11)),
 ('121', 'МАРИЯ', 'ФЕДОРОВНА', 'ИВАНОВА', 'КОНДУКТОР', 10, datetime.date(2019, 9, 17), 'Ж', datetime.date(1973, 1, 15)),
 ('126', 'СЕРАФИМА', 'ИВАНОВНА', 'КУКОЛКИНА', 'КОНДУКТОР', 8, datetime.date(2020, 3, 4), 'Ж', datetime.date(1970, 9, 5))]

In [10]:
%sql SELECT ИМЯ, ОТЧЕСТВО, ТАБЕЛЬНЫЙ_НОМЕР, ДАТА_ПРИЕМА_НА_РАБОТУ FROM СОТРУДНИКИ WHERE СТАЖ_РАБОТЫ BETWEEN '10' AND '14'

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('ПЕТР', 'ПЕТРОВИЧ', '123', datetime.date(2019, 8, 17)),
 ('ВАЛЕРИЙ', 'ВАЛЕРЬЕВИЧ', '124', datetime.date(2018, 8, 15)),
 ('МАРИЯ', 'ФЕДОРОВНА', '121', datetime.date(2019, 9, 17))]

**Продолжаем создание страниц согласно плану** 

Создам все в одной ячейке для ускорения процесса

In [11]:
%%sql
CREATE TABLE УДОСТОВЕРЕНИЯ(
    ТАБЕЛЬНЫЙ_НОМЕР VARCHAR(10)PRIMARY KEY NOT NULL,
    ВИД_УДОСТОВЕРЕНИЯ VARCHAR(50) NOT NULL,
    НОМЕР_УДОСТОВЕРЕНИЯ VARCHAR(10) NOT NULL,
    ДАТА_ВЫДАЧИ DATE NOT NULL,
    ДАТА_ЭКСПИРАЦИИ DATE NOT NULL,
    КОММЕНТАРИЙ VARCHAR(70)
	
);

CREATE TABLE КОНТАКТНЫЕ_ДАННЫЕ_СОТРУДНИКОВ(
    ТАБЕЛЬНЫЙ_НОМЕР VARCHAR(10)PRIMARY KEY NOT NULL,
    ГОРОД VARCHAR(50) NOT NULL,
    УЛИЦА VARCHAR(70) NOT NULL,
    НОМЕР_ДОМА VARCHAR(10) NOT NULL,
    НОМЕР_КВАРТИРЫ VARCHAR(10),
    НОМЕР_ТЕЛЕФОНА VARCHAR(70) NOT NULL,
    КОММЕНТАРИЙ VARCHAR(70)

);


CREATE TABLE ГРАФИК_РАБОТЫ(
    ТАБЕЛЬНЫЙ_НОМЕР VARCHAR(10)PRIMARY KEY NOT NULL,
    ПОНЕДЕЛЬНИК CHAR,
	ВТОРНИК CHAR,
	СРЕДА CHAR,
	ЧЕТВЕРГ CHAR,
	ПЯТНИЦА CHAR,
	СУББОТА CHAR,
	ВОСКРЕСЕНЬЕ CHAR,
	НОМЕР_МАРШРУТА CHAR,
	ВРЕМЯ_ВЫХОДА_НА_МАРШРУТ TIME NOT NULL,
    ВРЕМЯ_ОКОНЧАНИЯ_РАБОТЫ TIME NOT NULL
);

CREATE TABLE РАСПИСАНИЕ(
    ГАРАЖНЫЙ_НОМЕР VARCHAR(10) NOT NULL,
    НОМЕР_МАРШРУТА CHAR(5) NOT NULL,
   	ОСТАНОВКА VARCHAR(70) NOT NULL,
	ВРЕМЯ_ПРИБЫТИЯ TIME NOT NULL,
    ВРЕМЯ_ПРИБЫТИЯ1 TIME NOT NULL,
    ВРЕМЯ_ПРИБЫТИЯ2 TIME NOT NULL,
    ВРЕМЯ_ПРИБЫТИЯ3 TIME NOT NULL
);


CREATE TABLE ДЕПО(
    НОМЕР_ДЕПО VARCHAR(10)PRIMARY KEY NOT NULL,
    ГОРОД VARCHAR(50) NOT NULL,
    УЛИЦА VARCHAR(70) NOT NULL,
    НОМЕР_ЗДАНИЯ CHAR (5) NOT NULL,
    НОМЕР_ТЕЛЕФОНА VARCHAR(70) NOT NULL,
    ФАКС VARCHAR(70),
    КОММЕНТАРИЙ VARCHAR(70)

);

CREATE TABLE ЗАРАБОТНАЯ_ПЛАТА(
    ТАБЕЛЬНЫЙ_НОМЕР VARCHAR(10)PRIMARY KEY NOT NULL,
    ОКЛАД DOUBLE NOT NULL,
    КОММЕНТАРИЙ VARCHAR(70)

);

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Заполним:

In [12]:
%%sql
INSERT INTO КОНТАКТНЫЕ_ДАННЫЕ_СОТРУДНИКОВ(
    ТАБЕЛЬНЫЙ_НОМЕР,
    ГОРОД,
    УЛИЦА,
    НОМЕР_ДОМА,
    НОМЕР_КВАРТИРЫ,
    НОМЕР_ТЕЛЕФОНА,
    КОММЕНТАРИЙ)
VALUES
	(123,'ЧЕРЕМУШКИ','УЛ. РАДУЖНАЯ','4','','+34-34-456738',''),
	(124,'ЧЕРЕМУШКИ','УЛ. СОЛНЕЧНАЯ','12','34','+34-34-45735',''),
	(121,'НИЖНИЕ ЧЕРЕМУШКИ','УЛ. ЛЕСНАЯ','48-А','36','+34-34-42910',''),
	(126,'ВЕРХНИЕ ЧЕРЕМУШКИ','УЛ. ОЗЕРНАЯ','34','','+34-34-44535','');

INSERT INTO УДОСТОВЕРЕНИЯ(
    ТАБЕЛЬНЫЙ_НОМЕР,
    ВИД_УДОСТОВЕРЕНИЯ,
    НОМЕР_УДОСТОВЕРЕНИЯ,
    ДАТА_ВЫДАЧИ,
    ДАТА_ЭКСПИРАЦИИ,
    КОММЕНТАРИЙ)
VALUES
	(123,'ВОДИТЕЛЬСКОЕ','AB25436F','2015-08-16','2023-08-17','КАТЕГОРИЯ D,C'),
	(124,'ВОДИТЕЛЬСКОЕ','AC24367F','2014-01-12','2025-12-01','КАТЕГОРИЯ B,D,C'),
	(121,'КОНДУКТОРСКОЕ','4734645-1','2015-10-23','2024-08-09',''),
	(126,'КОНДУКТОРСКОЕ','3245367-2','2017-11-18','2025-11-19','');


INSERT INTO ГРАФИК_РАБОТЫ(
    ТАБЕЛЬНЫЙ_НОМЕР,
    ПОНЕДЕЛЬНИК,
	ВТОРНИК,
	СРЕДА,
	ЧЕТВЕРГ,
	ПЯТНИЦА,
	СУББОТА,
	ВОСКРЕСЕНЬЕ,
	НОМЕР_МАРШРУТА,
	ВРЕМЯ_ВЫХОДА_НА_МАРШРУТ,
    ВРЕМЯ_ОКОНЧАНИЯ_РАБОТЫ)
VALUES
	(123,'+','','+','','+','','+','6','06:30:00','23:30:00'),
	(124,'','+','','+','','+','','3','06:30:00','23:50:00'),
	(121,'+','','+','','+','','+','6','06:30:00','23:30:00'),
	(126,'','+','','+','','+','','3','06:30:00','23:50:00');

INSERT INTO РАСПИСАНИЕ(
    ГАРАЖНЫЙ_НОМЕР,
    НОМЕР_МАРШРУТА,
   	ОСТАНОВКА,
	ВРЕМЯ_ПРИБЫТИЯ,
    ВРЕМЯ_ПРИБЫТИЯ1,
    ВРЕМЯ_ПРИБЫТИЯ2,
    ВРЕМЯ_ПРИБЫТИЯ3)  
VALUES
('11','6','ДЕСАНТНАЯ','06:30:00','13:17:00','13:27:00','22:07:00'),
('11','6','КИРПИЧНАЯ','06:45:00','12:55:00','13:41:00','21:35:00'),
('11','6','ОЗЕРНАЯ','07:00:00','12:33:00','13:55:00','21:03:00'),
('11','6','ГЕРШОНЫ','07:15:00','12:11:00','14:09:00','20:31:00'),
('11','6','СИРЕНЕВАЯ','07:30:00','11:49:00','14:23:00','19:59:00'),
('11','6','АРКАДИЯ','07:45:00','11:27:00','14:37:00','19:27:00'),
('11','6','ФОРТ','08:00:00','11:05:00','14:51:00','18:55:00'),
('11','6','ВОЛЫНКА','08:15:00','10:43:00','15:05:00','18:23:00'),
('11','6','ПРИБУЖСКАЯ','08:30:00','10:21:00','15:19:00','17:51:00'),
('11','6','ГРИБОЕДОВА','08:45:00','09:59:00','15:33:00','17:19:00'),
('11','6','САЛЬНИКОВА','09:00:00','09:37:00','15:47:00','16:47:00'),
('11','6','МАХНОВИЧА','09:15:00','09:18:00','16:01:00','16:15:00'),
('12','3','ЦУМ','06:30:00','12:06:00','13:11:00','22:21:00'),
('12','3','ЛЕНИНА','06:41:00','11:49:00','13:39:00','22:04:00'),
('12','3','СКВЕР','06:52:00','11:32:00','14:07:00','21:47:00'),
('12','3','ОВЕЧКИНА','07:03:00','11:15:00','14:35:00','21:30:00'),
('12','3','ПАРК','07:14:00','10:58:00','15:03:00','21:13:00'),
('12','3','МОСТОВАЯ','07:25:00','10:41:00','15:31:00','20:56:00'),
('12','3','МАТРОСОВА','7:36:00','10:24:00','15:59:00','20:39:00'),
('12','3','ВЕСЕЛАЯ','07:47:00','10:07:00','16:27:00','20:22:00'),
('12','3','ПРИГОРОДНАЯ','07:58:00','09:50:00','16:55:00','20:05:00'),
('12','3','АДАМКОВСКАЯ','08:09:00','09:33:00','17:23:00','19:48:00'),
('12','3','ПОЧТА','08:20:00','09:16:00','17:51:00','19:31:00'),
('12','3','АКИМОЧКИНА','08:31:00','8:59:00','18:19:00','19:14:00'),
('12','3','ДВОРНИКОВА','08:39:00','08:42:00','18:47:00','18:57:00');

INSERT INTO ДЕПО(
    НОМЕР_ДЕПО,
    ГОРОД,
    УЛИЦА,
    НОМЕР_ЗДАНИЯ,
    НОМЕР_ТЕЛЕФОНА,
    ФАКС,
    КОММЕНТАРИЙ)
VALUES
	('42','ЧЕРЕМУШКИ','УЛ.ДЕСАНТНАЯ','45А','+34-34-2-34','+645-263-2-23',''),
	('64','ЧЕРЕМУШКИ','УЛ.ЦЕНТРАЛЬНАЯ','56В','+34-3445635','+35-26453543','');

INSERT INTO ЗАРАБОТНАЯ_ПЛАТА(
    ТАБЕЛЬНЫЙ_НОМЕР,
    ОКЛАД,
    КОММЕНТАРИЙ)
VALUES
    (123,5000,''),
	(124,6000,''),
	(121,4000,''),
	(126,4000,'');

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
4 rows affected.
4 rows affected.
4 rows affected.
25 rows affected.
2 rows affected.
4 rows affected.

[]

## Проверим на примере связанного запроса

In [13]:
%%sql
SELECT СОТРУДНИКИ.ИМЯ, СОТРУДНИКИ.ФАМИЛИЯ, СОТРУДНИКИ.ДОЛЖНОСТЬ, УДОСТОВЕРЕНИЯ.НОМЕР_УДОСТОВЕРЕНИЯ 
FROM СОТРУДНИКИ,УДОСТОВЕРЕНИЯ WHERE СОТРУДНИКИ.ТАБЕЛЬНЫЙ_НОМЕР = УДОСТОВЕРЕНИЯ.ТАБЕЛЬНЫЙ_НОМЕР

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('ПЕТР', 'ПЕТРОВ', 'ВОДИТЕЛЬ', 'AB25436F'),
 ('ВАЛЕРИЙ', 'ВАЛЕРЬЕВ', 'ВОДИТЕЛЬ', 'AC24367F'),
 ('МАРИЯ', 'ИВАНОВА', 'КОНДУКТОР', '4734645-1'),
 ('СЕРАФИМА', 'КУКОЛКИНА', 'КОНДУКТОР', '3245367-2')]

НАЙДЕМ СОТРУДНИКОВ КОТОРЫЕ ЗАРАБАТЫВАЮТ ОКОЛО 4-5 ТЫСЯЧ (БАКСОВ КОНЕЧНО=))

In [14]:
%%sql
SELECT СОТРУДНИКИ.ИМЯ, СОТРУДНИКИ.ФАМИЛИЯ, СОТРУДНИКИ.ДОЛЖНОСТЬ, ЗАРАБОТНАЯ_ПЛАТА.ОКЛАД 
FROM СОТРУДНИКИ,ЗАРАБОТНАЯ_ПЛАТА WHERE СОТРУДНИКИ.ТАБЕЛЬНЫЙ_НОМЕР = ЗАРАБОТНАЯ_ПЛАТА.ТАБЕЛЬНЫЙ_НОМЕР AND ЗАРАБОТНАЯ_ПЛАТА.ОКЛАД BETWEEN '4000' AND '5000'

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('ПЕТР', 'ПЕТРОВ', 'ВОДИТЕЛЬ', 5000.0),
 ('МАРИЯ', 'ИВАНОВА', 'КОНДУКТОР', 4000.0),
 ('СЕРАФИМА', 'КУКОЛКИНА', 'КОНДУКТОР', 4000.0)]

НАЙДЕМ СРЕДНЮЮ ЗП ПО БОЛЬНИЧКЕ

In [15]:
%%sql
SELECT AVG(ОКЛАД) AS СРЕДНЯЯ_ЗАРПЛАТА FROM ЗАРАБОТНАЯ_ПЛАТА

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[(4750.0,)]

ПРОПРОБУЕМ ПОСМОТРЕТЬ НА КАКОЙ ОСТАНОВКЕ БУДУТ АВТОБУСЫ МЕЖДУ 11 И 12 ЧАСАМИ ДНЯ

In [18]:
%%sql
SELECT ОСТАНОВКА, ГАРАЖНЫЙ_НОМЕР FROM РАСПИСАНИЕ WHERE ВРЕМЯ_ПРИБЫТИЯ1 BETWEEN '11:00:00' AND '12:00:00'

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('СИРЕНЕВАЯ', '11'),
 ('АРКАДИЯ', '11'),
 ('ФОРТ', '11'),
 ('ЛЕНИНА', '12'),
 ('СКВЕР', '12'),
 ('ОВЕЧКИНА', '12')]

In [20]:
%%sql
SELECT СОТРУДНИКИ.ФАМИЛИЯ, СОТРУДНИКИ.ИМЯ, СОТРУДНИКИ.ТАБЕЛЬНЫЙ_НОМЕР FROM СОТРУДНИКИ, ГРАФИК_РАБОТЫ WHERE СОТРУДНИКИ.ТАБЕЛЬНЫЙ_НОМЕР = ГРАФИК_РАБОТЫ.ТАБЕЛЬНЫЙ_НОМЕР AND ГРАФИК_РАБОТЫ.ПЯТНИЦА LIKE '+'

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('ПЕТРОВ', 'ПЕТР', '123'), ('ИВАНОВА', 'МАРИЯ', '121')]

In [21]:
%%sql
SELECT * FROM РАСПИСАНИЕ

 * ibm_db_sa://zll40028:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('11', '6    ', 'ДЕСАНТНАЯ', datetime.time(6, 30), datetime.time(13, 17), datetime.time(13, 27), datetime.time(22, 7)),
 ('11', '6    ', 'КИРПИЧНАЯ', datetime.time(6, 45), datetime.time(12, 55), datetime.time(13, 41), datetime.time(21, 35)),
 ('11', '6    ', 'ОЗЕРНАЯ', datetime.time(7, 0), datetime.time(12, 33), datetime.time(13, 55), datetime.time(21, 3)),
 ('11', '6    ', 'ГЕРШОНЫ', datetime.time(7, 15), datetime.time(12, 11), datetime.time(14, 9), datetime.time(20, 31)),
 ('11', '6    ', 'СИРЕНЕВАЯ', datetime.time(7, 30), datetime.time(11, 49), datetime.time(14, 23), datetime.time(19, 59)),
 ('11', '6    ', 'АРКАДИЯ', datetime.time(7, 45), datetime.time(11, 27), datetime.time(14, 37), datetime.time(19, 27)),
 ('11', '6    ', 'ФОРТ', datetime.time(8, 0), datetime.time(11, 5), datetime.time(14, 51), datetime.time(18, 55)),
 ('11', '6    ', 'ВОЛЫНКА', datetime.time(8, 15), datetime.time(10, 43), datetime.time(15, 5), datetime.time(18, 23)),
 ('11', '6    ', 'ПРИБУЖСКАЯ', datetime.time(8, 30), datetime.time(10, 21), datetime.time(15, 19), datetime.time(17, 51)),
 ('11', '6    ', 'ГРИБОЕДОВА', datetime.time(8, 45), datetime.time(9, 59), datetime.time(15, 33), datetime.time(17, 19)),
 ('11', '6    ', 'САЛЬНИКОВА', datetime.time(9, 0), datetime.time(9, 37), datetime.time(15, 47), datetime.time(16, 47)),
 ('11', '6    ', 'МАХНОВИЧА', datetime.time(9, 15), datetime.time(9, 18), datetime.time(16, 1), datetime.time(16, 15)),
 ('12', '3    ', 'ЦУМ', datetime.time(6, 30), datetime.time(12, 6), datetime.time(13, 11), datetime.time(22, 21)),
 ('12', '3    ', 'ЛЕНИНА', datetime.time(6, 41), datetime.time(11, 49), datetime.time(13, 39), datetime.time(22, 4)),
 ('12', '3    ', 'СКВЕР', datetime.time(6, 52), datetime.time(11, 32), datetime.time(14, 7), datetime.time(21, 47)),
 ('12', '3    ', 'ОВЕЧКИНА', datetime.time(7, 3), datetime.time(11, 15), datetime.time(14, 35), datetime.time(21, 30)),
 ('12', '3    ', 'ПАРК', datetime.time(7, 14), datetime.time(10, 58), datetime.time(15, 3), datetime.time(21, 13)),
 ('12', '3    ', 'МОСТОВАЯ', datetime.time(7, 25), datetime.time(10, 41), datetime.time(15, 31), datetime.time(20, 56)),
 ('12', '3    ', 'МАТРОСОВА', datetime.time(7, 36), datetime.time(10, 24), datetime.time(15, 59), datetime.time(20, 39)),
 ('12', '3    ', 'ВЕСЕЛАЯ', datetime.time(7, 47), datetime.time(10, 7), datetime.time(16, 27), datetime.time(20, 22)),
 ('12', '3    ', 'ПРИГОРОДНАЯ', datetime.time(7, 58), datetime.time(9, 50), datetime.time(16, 55), datetime.time(20, 5)),
 ('12', '3    ', 'АДАМКОВСКАЯ', datetime.time(8, 9), datetime.time(9, 33), datetime.time(17, 23), datetime.time(19, 48)),
 ('12', '3    ', 'ПОЧТА', datetime.time(8, 20), datetime.time(9, 16), datetime.time(17, 51), datetime.time(19, 31)),
 ('12', '3    ', 'АКИМОЧКИНА', datetime.time(8, 31), datetime.time(8, 59), datetime.time(18, 19), datetime.time(19, 14)),
 ('12', '3    ', 'ДВОРНИКОВА', datetime.time(8, 39), datetime.time(8, 42), datetime.time(18, 47), datetime.time(18, 57))]

Таблицы подлежат редактированию и конечно данные можно севершенствовать бесконечно, но на начальном этапе этого вполне достаточно

* доработать расписание
* доработать таблицы с зп
* добавить таблицы расчета топлива
* доработать рабочий график
* проработать внешние ключи