In [2]:
import pandas as pd
import numpy as np

In [3]:

# присвойте путь по которому находится файл переменной "df". или любой другой понятной переменной  с помощью метода для чтения csv, 
# пометив разделитель для корректной работы
df = pd.read_csv('c:/Users/admin/Desktop/laptops.csv', sep = ';')

In [4]:
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   Product           1303 non-null   object
 2   TypeName          1303 non-null   object
 3   Inches            1303 non-null   float64
 4   ScreenResolution  1303 non-null   object
 5   Cpu               1303 non-null   object
 6   Ram               1303 non-null   object
 7   Memory            1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price_euros       1303 non-null   float64
dtypes: float64(2), object(10)
memory usage: 122.3+ KB

In [6]:
df.describe(include = 'all')

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
count,1303,1303,1303,1303.000000,1303,1303,1303,1303,1303,1303,1303,1303.000000
unique,19,618,6,NaN,40,118,9,39,110,9,179,NaN
top,Dell,XPS 13,Notebook,NaN,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg,NaN
freq,297,30,727,NaN,507,190,619,412,281,1072,121,NaN
mean,NaN,NaN,NaN,15.017191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1123.686992
std,NaN,NaN,NaN,1.426304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,699.009043
min,NaN,NaN,NaN,10.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174.000000
25%,NaN,NaN,NaN,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,599.000000
50%,NaN,NaN,NaN,15.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,977.000000
75%,NaN,NaN,NaN,15.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1487.880000
max,NaN,NaN,NaN,18.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6099.000000

In [7]:
df['Inches'].quantile(0.75)

15.6

In [8]:
df['Company'].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Company, dtype: int64

In [9]:
df.sort_values('Price_euros', ascending=False).iloc[0]

Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

In [10]:
df.sort_values('Price_euros', ascending=True).iloc[0]

Company                                             Acer
Product                 C740-C9QX (3205U/2GB/32GB/Chrome
TypeName                                         Netbook
Inches                                              11.6
ScreenResolution                                1366x768
Cpu                 Intel Celeron Dual Core 3205U 1.5GHz
Ram                                                  2GB
Memory                                          32GB SSD
Gpu                                    Intel HD Graphics
OpSys                                          Chrome OS
Weight                                             1.3kg
Price_euros                                        174.0
Name: 1215, dtype: object

In [11]:
df['Price_euros'].min(), df['Price_euros'].max()

(174.0, 6099.0)

In [12]:
df[df['Inches'] == df['Inches'].min()][['Company', 'TypeName', 'Inches', 'Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

In [13]:
df[df['Company'] == 'HP'].sort_values('Price_euros').tail(1)

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
749,HP,Zbook 17,Workstation,17.3,IPS Panel Full HD 1920x1080,Intel Xeon E3-1535M v5 2.9GHz,16GB,256GB SSD,Nvidia Quadro M2000M,Windows 7,3kg,4389.0

In [14]:
df[df['Company'] == 'HP'].sort_values('Price_euros').iloc[-1]

Company                                        HP
Product                                  Zbook 17
TypeName                              Workstation
Inches                                       17.3
ScreenResolution      IPS Panel Full HD 1920x1080
Cpu                 Intel Xeon E3-1535M v5 2.9GHz
Ram                                          16GB
Memory                                  256GB SSD
Gpu                          Nvidia Quadro M2000M
OpSys                                   Windows 7
Weight                                        3kg
Price_euros                                4389.0
Name: 749, dtype: object

In [15]:
u8 = df[(df['TypeName'] == 'Ultrabook')& (df['Ram']== '8GB')].shape[0]
u = df[df['TypeName'] == 'Ultrabook'].shape[0]
u8/u*100

71.42857142857143

In [16]:
x = df[
    (df['OpSys'] == 'Windows 10') &
    (df['Price_euros'] < 500) &
    (df['Ram'].isin(['8GB', '16GB']))
].head(5)
x

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
74,Acer,Aspire E5-475,Notebook,14.0,1366x768,Intel Core i3 6006U 2GHz,8GB,1TB HDD,Intel HD Graphics 520,Windows 10,2.1kg,389.0
175,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i3 7100U 2.4GHz,8GB,1TB HDD,Intel HD Graphics 620,Windows 10,2.3kg,459.0
256,HP,15-BW094nd (A6-9220/8GB/128GB/W10),Notebook,15.6,1366x768,AMD A6-Series A6-9220 2.5GHz,8GB,128GB SSD,AMD Radeon R4 Graphics,Windows 10,1.91kg,445.9
292,HP,17-BS037cl (i3-6006U/8GB/1TB/W10),Notebook,17.3,1600x900,Intel Core i3 6006U 2GHz,8GB,1TB HDD,Intel HD Graphics 520,Windows 10,2.54kg,489.0
313,Acer,ES1-523-84K7 (A8-7410/8GB/256GB/FHD/W10),Notebook,15.6,Full HD 1920x1080,AMD A8-Series 7410 2.2GHz,8GB,256GB SSD,AMD Radeon R5,Windows 10,2.23kg,469.0

In [17]:
x.shape[0]

5

In [18]:
x = df[
    (df['Company'] == 'MSI') &
    (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') &
    (df['Inches'] != 15.6)#~(df['Inches'] == 15.6)
]
x

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
330,MSI,GL72M 7REX,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1199.00
393,MSI,Leopard GP72M,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1349.00
724,MSI,GL72M 7REX,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1348.48
917,MSI,GE72VR 6RF,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1599.00
1156,MSI,GP72M 7REX,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1492.80

In [19]:
x['Price_euros'].min(), x['Price_euros'].max()

(1199.0, 1599.0)

In [20]:
df[df['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz']['Price_euros'].mean()

1760.4084246575342

In [21]:
df[df['Cpu'] == 'Intel Core i7 7600U 2.8GHz']['Price_euros'].mean()

1915.710769230769

In [22]:
df['Weight']
df['Weight'] = df['Weight'].str.replace('kg', '')
df['Weight']
df['Weight'] = df['Weight'].astype('float')
df['Weight']
df['Weight'].min()

0.69