In [2]:
import pandas as pd 
df =pd.read_excel('C:/Users/admin/Desktop/python repo/events.xlsx')

In [5]:
df['Event_Time'] = pd.to_datetime(df['Event_Time']).dt.strftime('%m/%d/%Y %H:%M')

In [6]:
df

,Application_Number,Event_Time,Activity_Name,Resource,Loan_Goal,Requested_Amount
0,Application_174,03/01/2016 16:49,A_Create Application,User_1,Existing loan takeover,11000
1,Application_174,03/01/2016 16:49,A_Submitted,User_1,Existing loan takeover,11000
2,Application_174,03/01/2016 16:50,A_Concept,User_1,Existing loan takeover,11000
3,Application_524,03/01/2016 17:13,A_Create Application,User_1,Caravan / Camper,15000
4,Application_524,03/01/2016 17:13,A_Submitted,User_1,Caravan / Camper,15000
5,Application_524,03/01/2016 17:14,A_Concept,User_1,Caravan / Camper,15000
6,Application_881,03/01/2016 17:48,A_Create Application,User_1,Existing loan takeover,15000
7,Application_881,03/01/2016 17:48,A_Submitted,User_1,Existing loan takeover,15000
8,Application_881,03/01/2016 17:49,A_Concept,User_1,Existing loan takeover,15000
9,Application_634,03/01/2016 18:44,A_Create Application,User_1,Home improvement,10000
10,Application_634,03/01/2016 18:44,A_Submitted,User_1,Home improvement,10000
11,Application_634,03/01/2016 18:45,A_Concept,User_1,Home improvement,10000
12,Application_797,03/01/2016 18:50,A_Create Application,User_1,Car,13500
13,Application_797,03/01/2016 18:50,A_Submitted,User_1,Car,13500
14,Application_797,03/01/2016 18:51,A_Concept,User_1,Car,13500
15,Application_881,04/01/2016 13:19,A_Accepted,User_13,Existing loan takeover,15000
16,Application_881,04/01/2016 13:25,A_Complete,User_13,Existing loan takeover,15000
17,Application_174,04/01/2016 13:41,A_Accepted,User_7,Existing loan takeover,11000
18,Application_174,04/01/2016 13:50,A_Complete,User_7,Existing loan takeover,11000
19,Application_524,04/01/2016 18:58,A_Accepted,User_8,Caravan / Camper,15000
20,Application_797,04/01/2016 19:14,A_Accepted,User_5,Car,13500
21,Application_524,04/01/2016 19:14,A_Complete,User_8,Caravan / Camper,15000
22,Application_797,04/01/2016 19:17,A_Complete,User_5,Car,13500
23,Application_634,05/01/2016 15:51,A_Accepted,User_7,Home improvement,10000
24,Application_634,05/01/2016 15:59,A_Complete,User_7,Home improvement,10000
25,Application_524,01/14/2016 09:09,A_Validating,User_119,Caravan / Camper,15000
26,Application_524,01/14/2016 14:15,A_Incomplete,User_30,Caravan / Camper,15000
27,Application_524,01/14/2016 14:41,A_Pending,User_113,Caravan / Camper,15000
28,Application_881,01/15/2016 10:45,A_Validating,User_119,Existing loan takeover,15000
29,Application_881,01/19/2016 09:00,A_Incomplete,User_29,Existing loan takeover,15000
30,Application_881,01/19/2016 09:00,A_Denied,User_29,Existing loan takeover,15000
31,Application_174,01/20/2016 08:10,A_Validating,User_114,Existing loan takeover,11000
32,Application_174,01/20/2016 14:13,A_Incomplete,User_99,Existing loan takeover,11000
33,Application_174,01/21/2016 11:16,A_Validating,User_116,Existing loan takeover,11000
34,Application_174,01/21/2016 12:10,A_Incomplete,User_95,Existing loan takeover,11000
35,Application_174,01/21/2016 15:04,A_Validating,User_41,Existing loan takeover,11000
36,Application_174,01/22/2016 08:12,A_Pending,User_95,Existing loan takeover,11000
37,Application_634,04/02/2016 07:23,A_Validating,User_116,Home improvement,10000
38,Application_634,04/02/2016 08:29,A_Incomplete,User_101,Home improvement,10000
39,Application_634,04/02/2016 17:12,A_Pending,User_114,Home improvement,10000
40,Application_797,02/29/2016 07:02,A_Cancelled,User_1,Car,13500

In [ ]:
df.to_excel('updated_file.xlsx', index=False)