## LINEAR REGRESSION

### lesson 1

In [2]:
# импортируем необходимые библиотеки
import pandas as pd
import numpy as np
import matplotlib

### Подключим файл к пандас и выведем фрейм данных

In [3]:
path = "advertising.csv" # ссылка на файл локально положила в переменную 
df = pd.read_csv(path) # прочкла файл в df (датафрейм) с помощью ридера csv pandas 
df.head() # вывела данные

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

### В нашем случае, в формулах df[['x']] и df['x'] заменяем **х** на **TV** - наименование столбца предиктора (df[['TV']] и df['TV'])

                    Аналогично для **y** - это **sales** - наименование столбца зависимой переменной df[['sales']] и df['sales']

### ПОСМОТРИМ РАЗНИЦУ МЕЖДУ ОБЬЕКТОМ ДАТА ФРЕЙМА И СЕРИИ

In [5]:
# df[['x']] возвращает объект фрейма данных Pandas, который представляет собой массив, 
# который мы можем использовать в sklearn.
df[['TV']]

AttributeError: 'DataFrame' object has no attribute 'limit'

In [18]:
# df['x'] возвращает серию Pandas, которая даст ошибку 
# при использовании sklearn.
df['TV']

0    230.1
1     44.5
2     17.2
3    151.5
4    180.8
Name: TV, dtype: float64

In [1]:
pathfullfile = 'advertising.csv'
df = pd.read_csv(pathfullfile) # прочкла файл в df (датафрейм) с помощью ридера csv pandas 
df.head() # вывела данные

NameError: name 'pd' is not defined

In [7]:
# в то время как df['TV','radio','newspaper'] выдас ошибку
df[['TV','radio','newspaper']]

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [11]:
df['newspaper']

0    69.2
1    45.1
2    69.3
3    58.5
4    58.4
Name: newspaper, dtype: float64