# <img style="float: left; padding-right: 10px; width: 45px" src="https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/iacs.png"> CS109A Introduction to Data Science 

## Lecture 3, Exercise 2: PANDAS Intro


**Harvard University**<br/>
**Fall 2020**<br/>
**Instructors**: Pavlos Protopapas, Kevin Rader, and Chris Tanner

---
## **NOTE**: After running every cell, be sure to auto-grade your work by clicking 'Mark' in the lower-right corner. Otherwise, no credit will be given.

# Заголовок

** Упражнение 2: Pandas Intro **

# Описание

Как обсуждалось в классе, «Pandas» - это библиотека Python, которая содержит очень полезные структуры данных, включая DataFrames, что облегчает анализ исследовательского анализа (EDA).Здесь мы получаем практику с некоторыми элементарными функциями.

In [2]:
import pandas as pd

In [3]:
# import the CSV file
df = pd.read_csv("Student_SurveyFinal.csv")

# Панды Основы
Давайте начнем с базовой функциональности панд!

В ячейке ниже заполните заготовку, чтобы переменная `cols` хранила имена столбцов DF`.** ПРИМЕЧАНИЕ.Не нужно преобразовать это в список.

In [12]:
df.iloc[[0]]

,"16Personalities Quiz. You will need to first take the quiz located at https://www.16personalities.com/. This quiz will take about 10 miinutes. Select your personality letters below. E.g. ENTJ-A, INTP-A, etc.",Major_1,Major_2,Minor_1,Minor_2,PDP_Status,Grad_Year,Class_Standing,GPA,Semester_Units,...,Zip_Code_US,Is_California_Home,Languages_Spoken,News_Source,Loves_to_Travel,Foodie,Purchase_Based_On_Sustainability,Reusable_Water_Bottle,Meals_Delivery_Service_Percent,Ride_Share_Percent
0,ISFJ-A,Business Administration,NaN,Applied Analytics,NaN,No,2024,Junior,3.98,16,...,60015,No,1.0,News Sites. (e.g. Wall Street Journal,Yes,Yes,No,Yes,25%,25%

In [10]:
### edTest(test_a) ###
cols = df.columns
cols

Index(['16Personalities Quiz.  You will need to first take the quiz located at https://www.16personalities.com/. This quiz will take about 10 miinutes. Select your personality letters below. E.g. ENTJ-A, INTP-A, etc.',
       'Major_1', 'Major_2', 'Minor_1', 'Minor_2', 'PDP_Status', 'Grad_Year',
       'Class_Standing', 'GPA', 'Semester_Units', 'Transfer',
       'International_Student', 'Post_Grad_Plan', 'Industry', 'Planned_Role',
       'Num_Football_Games', 'Social_Greek_Life_Status',
       'Prof_Greek_Life_Status', 'Prof_Org_Status', 'Cultural_Org_Status',
       'Religious_Org_Status', 'Sports_Org_Status', 'USC_Social_Exp',
       'Merit_Scholarship_Percent', 'Paid_Job_Status', 'Time_Spent_Working',
       'Time_Spent_Friends', 'Time_Spent_Family', 'Study_Alone',
       'Time_Spent_Classwork', 'Overall_USC_Exp', 'Sex', 'Age', 'Home_Country',
       'Zip_Code_US', 'Is_California_Home', 'Languages_Spoken', 'News_Source',
       'Loves_to_Travel', 'Foodie', 'Purchase_Based_On_Sustainability',
       'Reusable_Water_Bottle', 'Meals_Delivery_Service_Percent',
       'Ride_Share_Percent'],
      dtype='object')

В ячейке ниже заполните заготовку, чтобы:
- `num_cols` хранит количество столбцов в `df`

In [13]:
### edTest(test_b) ###
num_rows = df.shape[0]
num_cols = df.shape[1]

В ячейке ниже заполните заготовку, чтобы `sneak_peak` был равен первым 7 рядам. ([HINT](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html))

In [17]:
### edTest(test_c) ###
sneak_peak = df.loc[:6]
sneak_peak

,"16Personalities Quiz. You will need to first take the quiz located at https://www.16personalities.com/. This quiz will take about 10 miinutes. Select your personality letters below. E.g. ENTJ-A, INTP-A, etc.",Major_1,Major_2,Minor_1,Minor_2,PDP_Status,Grad_Year,Class_Standing,GPA,Semester_Units,...,Zip_Code_US,Is_California_Home,Languages_Spoken,News_Source,Loves_to_Travel,Foodie,Purchase_Based_On_Sustainability,Reusable_Water_Bottle,Meals_Delivery_Service_Percent,Ride_Share_Percent
0,ISFJ-A,Business Administration,NaN,Applied Analytics,NaN,No,2024,Junior,3.98,16,...,60015,No,1.0,News Sites. (e.g. Wall Street Journal,Yes,Yes,No,Yes,25%,25%
1,ISFJ-A,Business Administration,NaN,Applied Analytics,NaN,No,2024,Junior,3.98,16,...,60015,No,1.0,News Sites. (e.g. Wall Street Journal,Yes,Yes,No,Yes,25%,25%
2,INFJ-A,International Relations,NaN,Applied Analytics m,NaN,No,2023,Senior,3.97,15,...,94903,Yes,3.0,"News Sites. (e.g. Wall Street Journal,Other",Yes,Yes,Yes,Yes,0%,0%
3,ESFP-A,Econ&Math,NaN,Applied Analytics,NaN,No,2023,Junior,3.70,20,...,N,No,2.0,"Tiktok,Youtube,Google News",Yes,No,No,No,25%,0%
4,ENFP-T,Business Administration,NaN,Applied Analytics,NaN,Planning on joining.,2023,Senior,3.66,18,...,90274,Yes,3.0,"Instagram,Snapchat,Facebook,Twitter,Tiktok,You...",Yes,Yes,Yes,Yes,25%,50%
5,ENTP-A,Applied and Computational Mathematics,NaN,Applied Analytics,NaN,No,2023,Junior,3.91,16,...,NaN,Yes,2.0,"News Sites. (e.g. Wall Street Journal,Other",Yes,Yes,No,Yes,0%,0%
6,ESTJ-A,Business Adminstration (Business Analysis),NaN,Applied Analytics,NaN,No,2023,Senior,3.30,18,...,91108,Yes,2.0,"Instagram,News Sites. (e.g. Wall Street Journal",Yes,Yes,No,Yes,0%,25%

В ячейке ниже заполните заготовку, чтобы `the_end` равен последним 4 рядам.([Подсказка] (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.dataframe.tail.html))

In [21]:
### edTest(test_d) ###
the_end = df.loc[(df.shape[0]-4):(df.shape[0])]
the_end

,"16Personalities Quiz. You will need to first take the quiz located at https://www.16personalities.com/. This quiz will take about 10 miinutes. Select your personality letters below. E.g. ENTJ-A, INTP-A, etc.",Major_1,Major_2,Minor_1,Minor_2,PDP_Status,Grad_Year,Class_Standing,GPA,Semester_Units,...,Zip_Code_US,Is_California_Home,Languages_Spoken,News_Source,Loves_to_Travel,Foodie,Purchase_Based_On_Sustainability,Reusable_Water_Bottle,Meals_Delivery_Service_Percent,Ride_Share_Percent
94,ENTJ-A,Business Administration,NaN,Applied Analytics,NaN,No,2024,Junior,3.83,18,...,NaN,Yes,2.0,"Instagram,Twitter,Google News",Yes,Yes,No,Yes,25%,25%
95,ENFP-A,Business Administration,NaN,Applied Analytics,Psychology,No,2022,Senior,3.31,16,...,11210,Yes,3.0,"Instagram,Twitter,Youtube,News Sites. (e.g. Wa...",Yes,Yes,No,No,25%,50%
96,ESTJ-A,Economics,Data Science,None,NaN,Planning on joining.,2023,Senior,3.77,16,...,NaN,Yes,2.0,News Sites. (e.g. Wall Street Journal,Yes,Yes,No,No,75%,0%
97,ENFP-T,Economics,NaN,Applied Analytics,NaN,No,2022,Senior,3.64,16,...,NaN,No,3.0,"Instagram,Snapchat,Tiktok,News Sites. (e.g. Wa...",Yes,Yes,Yes,Yes,25%,25%

В ячейке ниже заполните заготовку, чтобы переменная `python_experiences` хранила список из 5 различных значений, найденных в столбце« Marjor_1»` df`.

In [42]:
### edTest(test_e) ###
python_experiences = pd.Series(df['Major_1'].unique()).sample(5).tolist()
python_experiences

['Computer Science',
 'Business Administration ',
 'Business Administration (Business Analytics)',
 'Business',
 'industrial and systems engineering']

В ячейке ниже заполните заготовку так, чтобы переменная `economics' хранила **строки (ы)**, которые соответствуют всем, кто прошел курсы по экономике

In [55]:
### edTest(test_f) ###
economics = df.loc[df['Major_1'] == 'Economics']

economics

,"16Personalities Quiz. You will need to first take the quiz located at https://www.16personalities.com/. This quiz will take about 10 miinutes. Select your personality letters below. E.g. ENTJ-A, INTP-A, etc.",Major_1,Major_2,Minor_1,Minor_2,PDP_Status,Grad_Year,Class_Standing,GPA,Semester_Units,...,Zip_Code_US,Is_California_Home,Languages_Spoken,News_Source,Loves_to_Travel,Foodie,Purchase_Based_On_Sustainability,Reusable_Water_Bottle,Meals_Delivery_Service_Percent,Ride_Share_Percent
9,ENFP-T,Economics,NaN,Applied Analytics,NaN,No,2023,Senior,3.67,15,...,30092,No,1.0,"Twitter,Tiktok,News Sites. (e.g. Wall Street J...",Yes,No,Yes,Yes,25%,25%
44,INTJ-T,Economics,Data Science,None,NaN,No,2023,Senior,3.46,16,...,90301,Yes,2.0,Twitter,Yes,No,No,Yes,25%,0%
47,ENFJ-A,Economics,NaN,Marketing,Applied Analytics,Planning on joining.,2023,Senior,3.92,16,...,NaN,Yes,2.0,"Instagram,Other",Yes,Yes,No,No,25%,25%
49,ESFJ-T,Economics,NaN,Applied Analytics,NaN,Planning on joining.,2024,Junior,3.74,16,...,91006,Yes,2.0,"Instagram,Tiktok,Youtube",No,Yes,No,Yes,25%,0%
74,ENFJ-T,Economics,Data Science,None,NaN,No,2023,Senior,4.00,16,...,NaN,No,2.0,"Instagram,News Sites. (e.g. Wall Street Journal",Yes,No,No,Yes,0%,25%
80,ENFP-A,Economics,NaN,Applied Analytics,Blockchain,No,2023,Senior,3.29,12,...,10023,No,2.0,Twitter,Yes,Yes,No,Yes,25%,50%
81,ENFP-T,Economics,NaN,Applied Analytics,NaN,No,2024,Senior,3.68,16,...,NaN,No,2.0,"Instagram,Twitter,Tiktok,Youtube,Google News,N...",Yes,Yes,Yes,Yes,25%,25%
83,INTJ-A,Economics,Environmental Data Science,Applied Analytics,NaN,Yes,2023,Graduate Student,3.80,13,...,91325,Yes,2.0,"Instagram,Snapchat,Twitter,TV,Youtube,Google N...",No,Yes,Yes,Yes,0%,0%
90,ISFP-T,Economics,Data Science,None,NaN,No,2023,Senior,3.80,16,...,NaN,No,2.0,"Instagram,Twitter,Google News,News Sites. (e.g...",No,No,No,No,0%,0%
96,ESTJ-A,Economics,Data Science,None,NaN,Planning on joining.,2023,Senior,3.77,16,...,NaN,Yes,2.0,News Sites. (e.g. Wall Street Journal,Yes,Yes,No,No,75%,0%
97,ENFP-T,Economics,NaN,Applied Analytics,NaN,No,2022,Senior,3.64,16,...,NaN,No,3.0,"Instagram,Snapchat,Tiktok,News Sites. (e.g. Wa...",Yes,Yes,Yes,Yes,25%,25%

В ячейке ниже заполните заготовку, чтобы переменная `gpa` хранила **строки данных DataFrame**, которые соответствуют всем, у кого gpa выше 3,9

In [47]:
### edTest(test_g) ###
gpa = df.loc[df['GPA'] > 3.9]
gpa

,"16Personalities Quiz. You will need to first take the quiz located at https://www.16personalities.com/. This quiz will take about 10 miinutes. Select your personality letters below. E.g. ENTJ-A, INTP-A, etc.",Major_1,Major_2,Minor_1,Minor_2,PDP_Status,Grad_Year,Class_Standing,GPA,Semester_Units,...,Zip_Code_US,Is_California_Home,Languages_Spoken,News_Source,Loves_to_Travel,Foodie,Purchase_Based_On_Sustainability,Reusable_Water_Bottle,Meals_Delivery_Service_Percent,Ride_Share_Percent
0,ISFJ-A,Business Administration,NaN,Applied Analytics,NaN,No,2024,Junior,3.98,16,...,60015,No,1.0,News Sites. (e.g. Wall Street Journal,Yes,Yes,No,Yes,25%,25%
1,ISFJ-A,Business Administration,NaN,Applied Analytics,NaN,No,2024,Junior,3.98,16,...,60015,No,1.0,News Sites. (e.g. Wall Street Journal,Yes,Yes,No,Yes,25%,25%
2,INFJ-A,International Relations,NaN,Applied Analytics m,NaN,No,2023,Senior,3.97,15,...,94903,Yes,3.0,"News Sites. (e.g. Wall Street Journal,Other",Yes,Yes,Yes,Yes,0%,0%
5,ENTP-A,Applied and Computational Mathematics,NaN,Applied Analytics,NaN,No,2023,Junior,3.91,16,...,NaN,Yes,2.0,"News Sites. (e.g. Wall Street Journal,Other",Yes,Yes,No,Yes,0%,0%
10,ISFJ-T,Applied and Computational Mathematics,NaN,Computer Science,Applied Analytics,No,2023,Senior,3.94,17,...,75007,No,1.0,"Twitter,Youtube",Yes,No,No,No,0%,25%
31,ESFP-T,Business Administration,NaN,Applied Analytics,NaN,No,2023,Senior,3.94,12,...,91106,Yes,1.0,"Instagram,Tiktok,News Sites. (e.g. Wall Street...",Yes,Yes,Yes,Yes,25%,25%
32,ENFP-A,Business Administration,NaN,Applied Analytics,NaN,No,2023,Senior,3.92,16,...,98006,No,1.0,"Instagram,Twitter,Youtube,News Sites. (e.g. Wa...",Yes,Yes,No,Yes,0%,0%
40,ESFJ-T,Business Administration,NaN,Applied Analytics,NaN,No,2023,Senior,3.94,16,...,85253,No,2.0,"Instagram,Snapchat,Twitter,Tiktok,TV,Youtube,N...",Yes,Yes,No,Yes,50%,25%
45,ISFJ-T,Business Administration,NaN,Applied Analytics,NaN,No,2023,Senior,3.91,20,...,NaN,No,3.0,"Instagram,Youtube,Google News,News Sites. (e.g...",Yes,Yes,No,Yes,0%,50%
47,ENFJ-A,Economics,NaN,Marketing,Applied Analytics,Planning on joining.,2023,Senior,3.92,16,...,NaN,Yes,2.0,"Instagram,Other",Yes,Yes,No,No,25%,25%
66,ENFP-T,Human Biology,NaN,Applied Analytics,NaN,No,2023,Senior,3.95,18,...,NaN,Yes,2.0,"Instagram,Youtube,News Sites. (e.g. Wall Stree...",Yes,No,No,No,0%,0%
74,ENFJ-T,Economics,Data Science,None,NaN,No,2023,Senior,4.00,16,...,NaN,No,2.0,"Instagram,News Sites. (e.g. Wall Street Journal",Yes,No,No,Yes,0%,25%
77,INTJ-T,Data Science,Applied and Computational Mathematics,Computer Science,NaN,Planning on joining.,2024,Junior,3.98,18,...,NaN,No,2.0,Youtube,No,Yes,No,Yes,25%,75%
82,ISFP-T,Business Adinstration,NaN,Applied Analytics,NaN,No,2022,Senior,3.97,18,...,NaN,No,2.0,"Instagram,Youtube,News Sites. (e.g. Wall Stree...",Yes,Yes,No,Yes,25%,0%

В ячейке ниже заполните заготовку, чтобы переменная `row56` хранила ** 56 -ю строку **` df`.Чтобы быть ясным, представьте, что наш флаг данных выглядел следующим образом:

ПолемНазовите возраст \
0 Энрике 25 \
1 Шейла 67 \
2 Марси 21 \
3 utibe 33

Мы бы сказали, что 1 -й ряд - это тот, который с Энрике, 2 -й ряд - это тот, с Шейлой, 3 -й ряд - тот, который с Марси и т. Д.

In [48]:
### edTest(test_h) ###
row56 = df.iloc[[55]]
row56

,"16Personalities Quiz. You will need to first take the quiz located at https://www.16personalities.com/. This quiz will take about 10 miinutes. Select your personality letters below. E.g. ENTJ-A, INTP-A, etc.",Major_1,Major_2,Minor_1,Minor_2,PDP_Status,Grad_Year,Class_Standing,GPA,Semester_Units,...,Zip_Code_US,Is_California_Home,Languages_Spoken,News_Source,Loves_to_Travel,Foodie,Purchase_Based_On_Sustainability,Reusable_Water_Bottle,Meals_Delivery_Service_Percent,Ride_Share_Percent
55,ENTJ-T,"Philosophy, Politics, and Economics",NaN,Applied Analytics,NaN,Planning on joining.,2023,Senior,3.85,16,...,30030,Yes,1.0,Other,Yes,Yes,Yes,Yes,0%,25%

В ячейке ниже заполните заготовку, чтобы `sorded_df` теперь хранит` df` после сортировки по столбцу имени в порядке возрастания (a -> z)

In [52]:
### edTest(test_i) ###
sorted_df = df.sort_values(by = 'Class_Standing', ascending = True)
sorted_df.head()

,"16Personalities Quiz. You will need to first take the quiz located at https://www.16personalities.com/. This quiz will take about 10 miinutes. Select your personality letters below. E.g. ENTJ-A, INTP-A, etc.",Major_1,Major_2,Minor_1,Minor_2,PDP_Status,Grad_Year,Class_Standing,GPA,Semester_Units,...,Zip_Code_US,Is_California_Home,Languages_Spoken,News_Source,Loves_to_Travel,Foodie,Purchase_Based_On_Sustainability,Reusable_Water_Bottle,Meals_Delivery_Service_Percent,Ride_Share_Percent
83,INTJ-A,Economics,Environmental Data Science,Applied Analytics,NaN,Yes,2023,Graduate Student,3.80,13,...,91325,Yes,2.0,"Instagram,Snapchat,Twitter,TV,Youtube,Google N...",No,Yes,Yes,Yes,0%,0%
0,ISFJ-A,Business Administration,NaN,Applied Analytics,NaN,No,2024,Junior,3.98,16,...,60015,No,1.0,News Sites. (e.g. Wall Street Journal,Yes,Yes,No,Yes,25%,25%
49,ESFJ-T,Economics,NaN,Applied Analytics,NaN,Planning on joining.,2024,Junior,3.74,16,...,91006,Yes,2.0,"Instagram,Tiktok,Youtube",No,Yes,No,Yes,25%,0%
43,ISFP-T,Data Science,Mathematics,None,None,Planning on joining.,2024,Junior,3.77,14,...,NaN,No,2.0,"Twitter,Tiktok,Google News",Yes,Yes,Yes,No,75%,75%
64,INFJ-T,Business Administration,NaN,Applied Analytics,NaN,No,2023,Junior,3.82,16,...,NaN,No,2.0,"Instagram,Youtube,Other",Yes,Yes,Yes,Yes,25%,25%

В ячейке ниже заполните заготовку, чтобы `sorted_row56` хранит 56 -й ряд` sorted_df`.Чтобы быть ясным, представьте, что наш отсортированный фрейм выглядел следующим образом:

. Name        Age \
0 Enrique  25 \
2 Marcy    21 \
1 Sheila   67 \
3 Utibe    33 
Мы бы сказали, что 1 -й ряд - это тот, который с Энрике, 2 -й ряд - это тот, с Марси, 3 -й ряд - это тот, который с Шейлой и т. Д.

In [54]:
### edTest(test_j) ###
sorted_row56 =sorted_df.iloc[[55]]

sorted_row56

,"16Personalities Quiz. You will need to first take the quiz located at https://www.16personalities.com/. This quiz will take about 10 miinutes. Select your personality letters below. E.g. ENTJ-A, INTP-A, etc.",Major_1,Major_2,Minor_1,Minor_2,PDP_Status,Grad_Year,Class_Standing,GPA,Semester_Units,...,Zip_Code_US,Is_California_Home,Languages_Spoken,News_Source,Loves_to_Travel,Foodie,Purchase_Based_On_Sustainability,Reusable_Water_Bottle,Meals_Delivery_Service_Percent,Ride_Share_Percent
53,ESFJ-A,International Relations Global Business,NaN,Appled Analytics,NaN,No,2023,Senior,3.7,17,...,NaN,Yes,3.0,"Instagram,Facebook,Twitter,Google News,News Si...",Yes,No,Yes,Yes,25%,25%