# Итоговый проект

In [33]:
import pandas as pd 
import numpy as np 
import random

In [42]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
print(data)

   whoAmI
0   human
1   human
2   human
3   human
4   robot
5   robot
6   robot
7   robot
8   human
9   human
10  human
11  robot
12  robot
13  robot
14  human
15  robot
16  human
17  human
18  robot
19  robot

преобразуем DataFrame, добавляя в него новый столбец 'tmp', новый индекс 'whoAmI' и изменяя структуру данных с помощью функции unstack().

In [43]:
# data['tmp'] = 1: В DataFrame data добавляется новый столбец с именем 'tmp' со всеми значениями, установленными в 1.
data['tmp'] = 1
# Индекс данных DataFrame устанавливается с исходным индексом и новым столбцом с именем 'whoAmI'.
data.set_index([data.index, 'whoAmI'], inplace=True)
# Данные DataFrame разгруппированы по столбцу 'whoAmI', что превращает столбец в новые столбцы
# Значения NaN заполняются 0, а все значения преобразуются в целые числа.
data = data.unstack(level=-1, fill_value = 0).astype(int)
# Верхний уровень индекса (tmp над таблицей) столбцов отбрасывается
data.columns = data.columns.droplevel()
# Имя индекса столбца (whoAmI) устанавливается в None (иначе оно бы отобразолось над индексами).
data.columns.name = None
df = data
df.head(11)

    human  robot
0       1      0
1       1      0
2       1      0
3       1      0
4       0      1
5       0      1
6       0      1
7       0      1
8       1      0
9       1      0
10      1      0