# Итоговый проект

In [15]:
import pandas as pd 
import numpy as np 
import random

In [18]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
df = pd.DataFrame({'whoAmI': lst})
df

   whoAmI
0   human
1   robot
2   human
3   human
4   human
5   robot
6   robot
7   robot
8   robot
9   robot
10  robot
11  human
12  robot
13  human
14  robot
15  human
16  human
17  robot
18  human
19  human

преобразуем DataFrame, добавляя в него новый столбец 'tmp', новый индекс 'whoAmI' и изменяя структуру данных с помощью функции unstack().

In [19]:
# df['tmp'] = 1: В dfFrame df добавляется новый столбец с именем 'tmp' со всеми значениями, установленными в 1.
df['tmp'] = 1
# Индекс данных dfFrame устанавливается с исходным индексом и новым столбцом с именем 'whoAmI'.
df.set_index([df.index, 'whoAmI'], inplace=True)
# Данные dfFrame разгруппированы по столбцу 'whoAmI', что превращает столбец в новые столбцы
# Значения NaN заполняются 0, а все значения преобразуются в целые числа.
df = df.unstack(level=-1, fill_value = 0).astype(int)
# Верхний уровень индекса (tmp над таблицей) столбцов отбрасывается
df.columns = df.columns.droplevel()
# Имя индекса столбца (whoAmI) устанавливается в None (иначе оно бы отобразолось над индексами).
df.columns.name = None
df.head(11)

    human  robot
0       1      0
1       0      1
2       1      0
3       1      0
4       1      0
5       0      1
6       0      1
7       0      1
8       0      1
9       0      1
10      0      1