In [80]:
import pandas as pd

In [81]:

filename = input('')
# Загрузите ваш файл Excel
file_path = filename +'.xlsx'  # Укажите путь к вашему файлу 
data = pd.read_excel(file_path)

data.head()

,Год,Пол,Наемный работник,Работодатель,"Работник, работающий за свой счет",Помощник на семейном предприятии/ферме,Другой,Не идентифицирован
0,2020,Обоих полов,845.259826,36.320402,260.789438,97.927118,0.820890,0.707214
1,2021,Обоих полов,829.388758,33.158296,264.393659,88.785143,0.790959,0.900520
2,2022,Обоих полов,870.892287,39.818639,289.152754,82.961162,0.125363,0.756238
3,2023,Обоих полов,920.425208,41.199366,296.889394,75.280965,0.244258,0.519363
4,2020,Женщина,416.128324,9.397231,60.495117,60.377887,0.403049,0.049412

'Кахетия','Тбилиси','Шида Картли','Квемо Картли','Аджария','Самегрело-Земо Сванети','Имерети','Самцхе-Джавахети','Гурия','Мцхета-Мтианети','Рача-Лечхуми и Квемо-Сванети','Грузия'

In [82]:
transposed_data = data.melt(id_vars=['Год','Пол'], # то что остается без изменений
                            value_vars=['Наемный работник','Работодатель','Работник, работающий за свой счет','Помощник на семейном предприятии/ферме','Другой','Не идентифицирован'], # столбцы которые переводим в единую характеристику
                            var_name='Форма занятости', # Наименование столбца в который пойдут транспонированные характеристики
                            value_name='Количество(тыс)') # столбец для количественных показателей

In [58]:
transposed_data = data.melt(id_vars=['Год', 'Пол'], # то что остается без изменений
                            value_vars=['Менеджеры','Профессионалы','Техники и младшие специалисты','Работники канцелярской службы','Работники сферы обслуживания и продаж','Квалифицированные работники сельского хозяйства, лесного хозяйства и рыболовства','Работники ремесленных и смежных профессий','Операторы заводов и станков, а также монтажники','Начальные профессии','Другой'], # столбцы которые переводим в единую характеристику
                            var_name='Год', # Наименование столбца в который пойдут транспонированные характеристики
                            value_name='Количество') # столбец для количественных показателей

In [83]:

# Удаляем строки, где в столбце "Пол" стоит значение "обоих полов". так как нам не нужны итоговые результаты
transposed_data = transposed_data[transposed_data['Пол'] != 'Обоих полов']

In [84]:
# Сохранение результата в новый файл Excel
transposed_data.to_excel('Транспонированный'+ filename +'.xlsx', index=False)

print("Переформатирование завершено. Новый файл сохранен.")

Переформатирование завершено. Новый файл сохранен.

Удалим ненужные строки

In [7]:

# Удаляем строки, где в столбце "тип жилья" стоит значение "все"
data = data[data['Тип Жилья'] != 'все']

# Сохраняем очищенный датасет
data.to_excel("имя.xlsx", index=False)

Пример кода для траспонирования

In [5]:
transposed_data = data.melt(id_vars=['Регион', 'Характеристика','Тип Жилья','ТИП Поселения'], # то что остается без изменений
                            value_vars=['до 1919 года', '1919-1945 гг.', '1946-1960 гг.', '1961-1970 гг.', '1971-1980 гг.', '1981-1990 гг.', '1991-2000 гг.', '2001-2005 гг.', '2006-2010 гг.', '2011', '2012', '2013', '2014', 'Не указан'], # столбцы которые переводим в единую характеристику
                            var_name='Годы постройки', # Наименование столбца в который пойдут транспонированные характеристики
                            value_name='Количество') # столбец для количественных показателей