In [52]:
import pandas as pd
filename = input('')
# Загрузите ваш файл Excel
file_path = filename +'.xlsx'  # Укажите путь к вашему файлу 
data = pd.read_excel(file_path)

data.head()

,Должность,2020,2021,2022,2023,Пол
0,Менеджеры,30.108910,27.530387,29.592854,33.748102,Женский
1,Специалисты-профессионалы,149.820587,160.326460,157.731680,160.457726,Женский
2,Технические специалисты и вспомогательный перс...,56.287033,58.810874,64.895129,66.910750,Женский
3,Офисный обслуживающий персонал,41.345707,35.025151,35.245673,36.589460,Женский
4,"Лица, занятые в сфере услуг и продаж",113.087341,108.599395,120.475917,126.227716,Женский

'Кахетия','Тбилиси','Шида Картли','Квемо Картли','Аджария','Самегрело-Земо Сванети','Имерети','Самцхе-Джавахети','Гурия','Мцхета-Мтианети','Рача-Лечхуми и Квемо-Сванети','Грузия'

In [54]:
transposed_data = data.melt(id_vars=['Должность', 'Пол'], # то что остается без изменений
                            value_vars=['2020','2021','2022','2023'], # столбцы которые переводим в единую характеристику
                            var_name='Год', # Наименование столбца в который пойдут транспонированные характеристики
                            value_name='Количество') # столбец для количественных показателей

In [ ]:
# Сохранение результата в новый файл Excel
transposed_data.to_excel('Транспонированный'+ filename +'.xlsx', index=False)

print("Переформатирование завершено. Новый файл сохранен.")

Удалим ненужные строки

In [7]:

# Удаляем строки, где в столбце "тип жилья" стоит значение "все"
data = data[data['Тип Жилья'] != 'все']

# Сохраняем очищенный датасет
data.to_excel("имя.xlsx", index=False)

Пример кода для траспонирования

In [5]:
transposed_data = data.melt(id_vars=['Регион', 'Характеристика','Тип Жилья','ТИП Поселения'], # то что остается без изменений
                            value_vars=['до 1919 года', '1919-1945 гг.', '1946-1960 гг.', '1961-1970 гг.', '1971-1980 гг.', '1981-1990 гг.', '1991-2000 гг.', '2001-2005 гг.', '2006-2010 гг.', '2011', '2012', '2013', '2014', 'Не указан'], # столбцы которые переводим в единую характеристику
                            var_name='Годы постройки', # Наименование столбца в который пойдут транспонированные характеристики
                            value_name='Количество') # столбец для количественных показателей