# HOMEWORK VIEW

Создайте представление, в которое попадут автомобили стоимостью до 25 000 долларов

Изменить в существующем представлении порог для стоимости: пусть цена будет до 30 000 долларов (используя оператор ALTER VIEW)

Создайте представление, в котором будут только автомобили марки “Шкода” и “Ауди” (аналогично)

In [2]:
%load_ext sql


%sql ibm_db_sa://mng80479:hWXxVi7Fzzlvn68R@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB?security=SSL

In [3]:
%sql SELECT * FROM CARS limit 5

 * ibm_db_sa://mng80479:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(0, 3, 122, 'alfa-romero', 'two', 'convertible', 'rwd', 'front', Decimal('88.6'), '0.8111484863046613', '0.8902777777777777', '0.8160535117056856', 2548, 'dohc', 'four', 130, 'mpfi', Decimal('3.47'), Decimal('2.68'), Decimal('9.00'), 111, Decimal('5000.0'), Decimal('13495.0'), '11.19047619047619', '8.703703703703704', 'Low', 0, 1, 1, 0),
 (1, 3, 122, 'alfa-romero', 'two', 'convertible', 'rwd', 'front', Decimal('88.6'), '0.8111484863046613', '0.8902777777777777', '0.8160535117056856', 2548, 'dohc', 'four', 130, 'mpfi', Decimal('3.47'), Decimal('2.68'), Decimal('9.00'), 111, Decimal('5000.0'), Decimal('16500.0'), '11.19047619047619', '8.703703703703704', 'Low', 0, 1, 1, 0),
 (2, 1, 122, 'alfa-romero', 'two', 'hatchback', 'rwd', 'front', Decimal('94.5'), '0.8226814031715521', '0.9097222222222222', '0.8762541806020067', 2823, 'ohcv', 'six', 152, 'mpfi', Decimal('2.68'), Decimal('3.47'), Decimal('9.00'), 154, Decimal('5000.0'), Decimal('16500.0'), '12.368421052631579', '9.038461538461538', 'Medium', 0, 1, 1, 0),
 (3, 2, 164, 'audi', 'four', 'sedan', 'fwd', 'front', Decimal('99.8'), '0.8486304661220567', '0.9194444444444445', '0.9080267558528428', 2337, 'ohc', 'four', 109, 'mpfi', Decimal('3.19'), Decimal('3.40'), Decimal('10.00'), 102, Decimal('5500.0'), Decimal('13950.0'), '9.791666666666666', '7.833333333333333', 'Low', 0, 1, 1, 0),
 (4, 2, 164, 'audi', 'four', 'sedan', '4wd', 'front', Decimal('99.4'), '0.8486304661220567', '0.9222222222222223', '0.9080267558528428', 2824, 'ohc', 'five', 136, 'mpfi', Decimal('3.19'), Decimal('3.40'), Decimal('8.00'), 115, Decimal('5500.0'), Decimal('17450.0'), '13.055555555555555', '10.681818181818182', 'Low', 0, 1, 1, 0)]

In [ ]:
%%sql
CREATE VIEW cars_under_25000 AS
SELECT *
FROM CARS
WHERE price < 25000;

In [5]:
%sql SELECT * FROM cars_under_25000 LIMIT 3

 * ibm_db_sa://mng80479:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(0, 3, 122, 'alfa-romero', 'two', 'convertible', 'rwd', 'front', Decimal('88.6'), '0.8111484863046613', '0.8902777777777777', '0.8160535117056856', 2548, 'dohc', 'four', 130, 'mpfi', Decimal('3.47'), Decimal('2.68'), Decimal('9.00'), 111, Decimal('5000.0'), Decimal('13495.0'), '11.19047619047619', '8.703703703703704', 'Low', 0, 1, 1, 0),
 (1, 3, 122, 'alfa-romero', 'two', 'convertible', 'rwd', 'front', Decimal('88.6'), '0.8111484863046613', '0.8902777777777777', '0.8160535117056856', 2548, 'dohc', 'four', 130, 'mpfi', Decimal('3.47'), Decimal('2.68'), Decimal('9.00'), 111, Decimal('5000.0'), Decimal('16500.0'), '11.19047619047619', '8.703703703703704', 'Low', 0, 1, 1, 0),
 (2, 1, 122, 'alfa-romero', 'two', 'hatchback', 'rwd', 'front', Decimal('94.5'), '0.8226814031715521', '0.9097222222222222', '0.8762541806020067', 2823, 'ohcv', 'six', 152, 'mpfi', Decimal('2.68'), Decimal('3.47'), Decimal('9.00'), 154, Decimal('5000.0'), Decimal('16500.0'), '12.368421052631579', '9.038461538461538', 'Medium', 0, 1, 1, 0)]

В sqllite команда alter view не поддерживаниется напрямую. Возможно закрыть соединение и пересоздать представление. однако вот код

In [6]:
%%sql
ALTER VIEW cars_under_25000
AS
SELECT *
FROM cars
WHERE price < 35000;

 * ibm_db_sa://mng80479:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "ALTER VIEW" was found following "BEGIN-OF-STATEMENT".  Expected tokens may include:  "<create_view>".  SQLSTATE=42601  SQLCODE=-104
[SQL: ALTER VIEW cars_under_25000
AS
SELECT *
FROM cars
WHERE price < 35000;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [7]:
%sql select distinct(make) from cars

 * ibm_db_sa://mng80479:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[('alfa-romero',),
 ('audi',),
 ('bmw',),
 ('chevrolet',),
 ('dodge',),
 ('honda',),
 ('isuzu',),
 ('jaguar',),
 ('mazda',),
 ('mercedes-benz',),
 ('mercury',),
 ('mitsubishi',),
 ('nissan',),
 ('peugot',),
 ('plymouth',),
 ('porsche',),
 ('saab',),
 ('subaru',),
 ('toyota',),
 ('volkswagen',),
 ('volvo',)]

Создайте представление, в котором будут только автомобили марки “bmw” и “audi” (аналогично)

In [13]:
%%sql
CREATE VIEW cars_bmw_audi AS
SELECT *
FROM CARS
WHERE make in ('audi', 'bmw')

 * ibm_db_sa://mng80479:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[]

In [14]:
%sql select * from cars_bmw_audi

 * ibm_db_sa://mng80479:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(3, 2, 164, 'audi', 'four', 'sedan', 'fwd', 'front', Decimal('99.8'), '0.8486304661220567', '0.9194444444444445', '0.9080267558528428', 2337, 'ohc', 'four', 109, 'mpfi', Decimal('3.19'), Decimal('3.40'), Decimal('10.00'), 102, Decimal('5500.0'), Decimal('13950.0'), '9.791666666666666', '7.833333333333333', 'Low', 0, 1, 1, 0),
 (4, 2, 164, 'audi', 'four', 'sedan', '4wd', 'front', Decimal('99.4'), '0.8486304661220567', '0.9222222222222223', '0.9080267558528428', 2824, 'ohc', 'five', 136, 'mpfi', Decimal('3.19'), Decimal('3.40'), Decimal('8.00'), 115, Decimal('5500.0'), Decimal('17450.0'), '13.055555555555555', '10.681818181818182', 'Low', 0, 1, 1, 0),
 (5, 2, 122, 'audi', 'two', 'sedan', 'fwd', 'front', Decimal('99.8'), '0.8519942335415667', '0.9208333333333333', '0.8879598662207359', 2507, 'ohc', 'five', 136, 'mpfi', Decimal('3.19'), Decimal('3.40'), Decimal('8.50'), 110, Decimal('5500.0'), Decimal('15250.0'), '12.368421052631579', '9.4', 'Low', 0, 1, 1, 0),
 (6, 1, 158, 'audi', 'four', 'sedan', 'fwd', 'front', Decimal('105.8'), '0.9259971167707832', '0.9916666666666667', '0.931438127090301', 2844, 'ohc', 'five', 136, 'mpfi', Decimal('3.19'), Decimal('3.40'), Decimal('8.50'), 110, Decimal('5500.0'), Decimal('17710.0'), '12.368421052631579', '9.4', 'Low', 0, 1, 1, 0),
 (7, 1, 122, 'audi', 'four', 'wagon', 'fwd', 'front', Decimal('105.8'), '0.9259971167707832', '0.9916666666666667', '0.931438127090301', 2954, 'ohc', 'five', 136, 'mpfi', Decimal('3.19'), Decimal('3.40'), Decimal('8.50'), 110, Decimal('5500.0'), Decimal('18920.0'), '12.368421052631579', '9.4', 'Low', 0, 1, 1, 0),
 (8, 1, 158, 'audi', 'four', 'sedan', 'fwd', 'front', Decimal('105.8'), '0.9259971167707832', '0.9916666666666667', '0.9347826086956522', 3086, 'ohc', 'five', 131, 'mpfi', Decimal('3.13'), Decimal('3.40'), Decimal('8.30'), 140, Decimal('5500.0'), Decimal('23875.0'), '13.823529411764707', '11.75', 'Medium', 0, 1, 0, 1),
 (9, 2, 192, 'bmw', 'two', 'sedan', 'rwd', 'front', Decimal('101.2'), '0.849591542527631', '0.8999999999999999', '0.9080267558528428', 2395, 'ohc', 'four', 108, 'mpfi', Decimal('3.50'), Decimal('2.80'), Decimal('8.80'), 101, Decimal('5800.0'), Decimal('16430.0'), '10.217391304347826', '8.10344827586207', 'Low', 0, 1, 1, 0),
 (10, 0, 192, 'bmw', 'four', 'sedan', 'rwd', 'front', Decimal('101.2'), '0.849591542527631', '0.8999999999999999', '0.9080267558528428', 2395, 'ohc', 'four', 108, 'mpfi', Decimal('3.50'), Decimal('2.80'), Decimal('8.80'), 101, Decimal('5800.0'), Decimal('16925.0'), '10.217391304347826', '8.10344827586207', 'Low', 0, 1, 1, 0),
 (11, 0, 188, 'bmw', 'two', 'sedan', 'rwd', 'front', Decimal('101.2'), '0.849591542527631', '0.8999999999999999', '0.9080267558528428', 2710, 'ohc', 'six', 164, 'mpfi', Decimal('3.31'), Decimal('3.19'), Decimal('9.00'), 121, Decimal('4250.0'), Decimal('20970.0'), '11.19047619047619', '8.392857142857142', 'Medium', 0, 1, 1, 0),
 (12, 0, 188, 'bmw', 'four', 'sedan', 'rwd', 'front', Decimal('101.2'), '0.849591542527631', '0.8999999999999999', '0.9080267558528428', 2765, 'ohc', 'six', 164, 'mpfi', Decimal('3.31'), Decimal('3.19'), Decimal('9.00'), 121, Decimal('4250.0'), Decimal('21105.0'), '11.19047619047619', '8.392857142857142', 'Medium', 0, 1, 1, 0),
 (13, 1, 190, 'bmw', 'four', 'sedan', 'rwd', 'front', Decimal('103.5'), '0.9082172032676598', '0.9291666666666667', '0.931438127090301', 3055, 'ohc', 'six', 164, 'mpfi', Decimal('3.31'), Decimal('3.19'), Decimal('9.00'), 121, Decimal('4250.0'), Decimal('24565.0'), '11.75', '9.4', 'Medium', 0, 1, 1, 0),
 (14, 0, 190, 'bmw', 'four', 'sedan', 'rwd', 'front', Decimal('103.5'), '0.9082172032676598', '0.9291666666666667', '0.931438127090301', 3230, 'ohc', 'six', 209, 'mpfi', Decimal('3.62'), Decimal('3.39'), Decimal('8.00'), 182, Decimal('5400.0'), Decimal('30760.0'), '14.6875', '10.681818181818182', 'Medium', 0, 1, 1, 0),
 (15, 0, 190, 'bmw', 'two', 'sedan', 'rwd', 'front', Decimal('103.5'), '0.9312830370014417', '0.9430555555555556', '0.8979933110367894', 3380, 'ohc', 'six', 209, 'mpfi', Decimal('3.62'), Decimal('3.39'), Decimal('8.00'), 182, Decimal('5400.0'), Decimal('41315.0'), '14.6875', '10.681818181818182', 'Medium', 0, 1, 1, 0),
 (16, 0, 190, 'bmw', 'four', 'sedan', 'rwd', 'front', Decimal('110.0'), '0.9466602594906295', '0.9847222222222223', '0.9414715719063546', 3505, 'ohc', 'six', 209, 'mpfi', Decimal('3.62'), Decimal('3.39'), Decimal('8.00'), 182, Decimal('5400.0'), Decimal('36880.0'), '15.666666666666666', '11.75', 'Medium', 0, 1, 1, 0)]

# trains

In [40]:
%load_ext sql
%sql mysql://root:05111987Olg@@localhost:3306/mysql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [41]:
%%sql
create table if not exists trains (
    train_id int not null,
    station_character varchar(50) not null,
    station_time_without_timezone time not null,
    time_to_next_station_interval time
)

   ibm_db_sa://mng80479:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
 * mysql://root:***@localhost:3306/mysql
0 rows affected.

[]

In [42]:
%%sql
insert into trains(
    train_id, 
    station_character,
    station_time_without_timezone
    )
values
(110, 'San Francisco','10:00:00'),
(110, 'Redwood City','10:54:00'),
(110, 'Palo Alto','11:02:00'),
(120, 'San Jose','12:35:00'),
(120, 'San Francisco','12:49:00'),
(120, 'San Jose','13:30:00')

   ibm_db_sa://mng80479:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
 * mysql://root:***@localhost:3306/mysql
6 rows affected.

[]

In [ ]:
%%sql
alter table trains
add column time_to_next_station time
insert into train(time_to_next_station)
values()

In [59]:
%%sql

SELECT
    train_id,
    station_character,
    station_time_without_timezone,
    SUBTIME(
        LEAD(station_time_without_timezone) OVER(PARTITION BY train_id ORDER BY train_id),
        station_time_without_timezone
    ) as time_to_next_station
FROM trains

   ibm_db_sa://mng80479:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
 * mysql://root:***@localhost:3306/mysql
6 rows affected.

[(110, 'San Francisco', datetime.timedelta(seconds=36000), datetime.timedelta(seconds=3240)),
 (110, 'Redwood City', datetime.timedelta(seconds=39240), datetime.timedelta(seconds=480)),
 (110, 'Palo Alto', datetime.timedelta(seconds=39720), None),
 (120, 'San Jose', datetime.timedelta(seconds=45300), datetime.timedelta(seconds=840)),
 (120, 'San Francisco', datetime.timedelta(seconds=46140), datetime.timedelta(seconds=2460)),
 (120, 'San Jose', datetime.timedelta(seconds=48600), None)]

Анализы:

In [ ]:
%%sql
SELECT an_name, an_cost
FROM orders
JOIN analysis
ON ord_an = an_id
WHERE DATE(ord_datetime) BETWEEN "2020-02-05" AND "2020-02-12";