In [ ]:
# pip install mysqlclient
# pip install mysql-python
# pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# pip install ipython-sql
# pip install mysql-connector-python

In [1]:
%load_ext sql

In [2]:
# %sql mysql://username:password@hostname:port/database_name
%sql mysql://root:05111987Olg@@localhost:3306/cs50

In [3]:
%sql SHOW DATABASES

 * mysql://root:***@localhost:3306/cs50
8 rows affected.

[('cs50',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test',),
 ('world',)]

In [4]:
%sql SHOW TABLES

 * mysql://root:***@localhost:3306/cs50
0 rows affected.

[]

In [5]:
%sql SELECT * FROM "city" LIMIT 5

 * mysql://root:***@localhost:3306/cs50
(MySQLdb.ProgrammingError) (1146, "Table 'cs50.city' doesn't exist")
[SQL: SELECT * FROM city LIMIT 5]
(Background on this error at: http://sqlalche.me/e/13/f405)