# Итоговая домашняя работа

In [2]:
%load_ext sql

In [3]:
# %sql mysql://username:password@hostname:port/database_name
%sql mysql://root:05111987Olg@@localhost:3306/mysql

In [4]:
%%sql
CREATE PROCEDURE IF NOT EXISTS secs_to_days(IN secs_in INT)
BEGIN
	DECLARE days INT;
	DECLARE hours INT;
	DECLARE minutes INT;
	DECLARE secs INT;
	SET days = FLOOR(secs_in / (24 * 3600));
	SET hours = FLOOR(secs_in % (24 * 3600) / 3600);
	SET minutes = FLOOR(secs_in % 3600 / 60);
	SET secs = secs_in - days * (24 * 3600) - hours * 3600 - minutes * 60;

	SELECT CONCAT_WS(" ", days, "days", hours, "hours", minutes, "minutes", secs, "seconds");
END

 * mysql://root:***@localhost:3306/mysql
0 rows affected.

[]

Вызов функции

In [7]:
%%sql
CALL secs_to_days(123456)

 * mysql://root:***@localhost:3306/mysql
1 rows affected.

[('1 days 10 hours 17 minutes 36 seconds',)]

In [6]:
%%sql
WITH RECURSIVE numbers AS (
  SELECT 1 AS num
  UNION ALL
  SELECT num + 1
  FROM numbers
  WHERE num < 10 -- Укажите необходимый верхний предел чисел
)
SELECT num
FROM numbers
WHERE num % 2 = 0;

 * mysql://root:***@localhost:3306/mysql
5 rows affected.

[(2,), (4,), (6,), (8,), (10,)]